body{
 background-color: #0B0B0B;
}
.Section1{

   background-color: white;
    width: 370px;
    height: 650px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    margin-top: 60px;
    margin-left: 100px;
}
img{
    width: 325px;
    height: 400px;
     border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    margin-left: 22px;
    margin-top: 20px;
    
     border-radius: 18px;
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.25),
    0 16px 40px rgba(0, 0, 0, 0.15);

}

.name{
    font-family: 'Poppins', sans-serif;
font-weight: 700;
font-size: 56px;
position: relative;
margin-left: 70px;
margin-top: 2px;
text-shadow: 0 2px 6px rgba(1,0,1,0.118);

}

.Section2{
    color: white;
     font-family: 'Poppins', sans-serif;
  font-size: 76px;
  font-weight: 800;
  letter-spacing: 2px;
  position: relative;
  margin-left: 550px;
  margin-top: -590px;
 
}

.co{
   
    color: rgba(255, 255, 255, 0.35);; 
}